<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="libraryEntities" connectionString="metadata=res://*/MySqlModel.csdl|res://*/MySqlModel.ssdl|res://*/MySqlModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;persist security info=True;database=library&quot;" providerName="System.Data.EntityClient" />
		<add name="ConnectionStringName"
				providerName="System.Data.SqlServerCe.4.0"
				connectionString="Data Source=|DataDirectory|\DatabaseFileName.sdf" />
		<add name="flibusta_online_fb2Entities"
				 connectionString="data source=C:\Users\Artem\AppData\Roaming\MyHomeLib\Data\flibusta_online_fb2.hlc2" 
				 providerName="System.Data.SQLite" />
	</connectionStrings>
</configuration>